<p>standing works!</p>
<table class="table table-sm">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
    </thead>
    <tbody style="height: 100%; width: 100%;">
      <tr  class="text-center rounded"
      style="background: rgb(234, 234, 234); height: 80%; width: 80%;">
        <th scope="row">1</th>
        <td>Liverpool</td>
        <td>27</td>
        <td>0</td>
        <td>2</td>
      </tr>
      <tr  class="text-center rounded"
      style="background: rgb(234, 234, 234); height: 80%; width: 80%;">
        <th scope="row">2</th>
        <td>Manchester City</td>
        <td>25</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr  class="text-center rounded"
      style="background: rgb(234, 234, 234); height: 80%; width: 80%;">
        <th scope="row">3</th>
        <td>Tothenam</td>
        <td>23</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr  class="text-center rounded"
      style="background: rgb(234, 234, 234); height: 80%; width: 80%;">
        <th scope="row">4</th>
        <td>Arsenal</td>
        <td>22</td>
        <td>3</td>
        <td>6</td>
      </tr>
      <tr  class="text-center rounded"
      style="background: rgb(234, 234, 234); height: 80%; width: 80%;">
        <th scope="row">5</th>
        <td>Manchester United</td>
        <td>18</td>
        <td>4</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
