<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h4 class="modal-title ml-8">{{event.strLeague}}</h4>
          <button type="button" class="close" [routerLink]="['']" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table class="table table-bordered table-light text-right">
            <thead>

            </thead>
              <tbody>
                <tr>
                    <td class="text-center">{{event.strHomeTeam}}</td>
                    <td class="text-center font-weight-bold">VS</td>
                    <td class="text-center">{{event.strAwayTeam}}</td>
                </tr>
                <tr class="text-center">
                    <td>{{event.intHomeScore}}</td>
                    <td class="font-weight-bold">GOALS</td>
                    <td>{{event.intAwayScore}}</td>
                </tr>
                <tr class="text-center" *ngIf="this.event.intSpectators">
                    <td></td>
                    <td class="font-weight-bold">
                      <h6>Attendance</h6>
                      <p>{{event.intSpectators}}</p>
                    </td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td>{{event.strHomeYellowCards}}</td>
                    <td class="yellow__card"><div style="background-image: url('/src/assets/images/icons/yellow_card.png');"></div></td>
                    <td>{{event.strAwayYellowCards}}</td>
                </tr>
              </tbody>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" [routerLink]="['']">Close</button>
        </div>

      </div>
    </div>
  </div>
