<h5>Users standing</h5>
<table class="table table-sm ">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
    </thead>
    <tbody style="height: 100%; width: 100%;">
      <tr  class="text-center rounded"
      style=" height: 80%; width: 80%;">
        <th scope="row">1</th>
        <td>giivanov</td>
        <td>3751</td>
      </tr>
      <tr  class="text-center rounded"
      style=" height: 80%; width: 80%;">
        <th scope="row">2</th>
        <td>johna45</td>
        <td>3211</td>
      </tr>
      <tr  class="text-center rounded"
      style=" height: 80%; width: 80%;">
        <th scope="row">3</th>
        <td>phil_22</td>
        <td>3101</td>
      </tr>
      <tr  class="text-center rounded"
      style=" height: 80%; width: 80%;">
        <th scope="row">4</th>
        <td>anders1515</td>
        <td>2965</td>
      </tr>
      <tr  class="text-center rounded"
      style=" height: 80%; width: 80%;">
        <th scope="row">5</th>
        <td>mike1</td>
        <td>2858</td>
      </tr>
    </tbody>
  </table>
