        <h2 class="mb-3">Events</h2>
        <table class="table table-sm">
          <thead></thead>
          <tbody class="rounded" style="height: 100%; width: 100%;"
            *ngFor="let event of events">
            <tr class="text-center rounded font-weight-bold"
                style="height: 80%; width: 80%;">
              <td>{{event.home}}</td>
              <td>{{event.result}}</td>
              <td>{{event.away}}</td>
              <td>73'</td>
            </tr>
          </tbody>
        </table>
