<hr>
<div class="d-flex flex-column" style="width: 100%; background: whitesmoke">
  <h4>Comment</h4>
    <form (submit)="saveComment(commentForm)" #commentForm="ngForm">
          <div class="form-group p-2">
            <label class="d-flex flex-row">Comment</label>
            <textarea
            class="form-control justify-content-center"
            name="comment"
            cols="20"
            rows="5"
            required
            placeholder="Content"
            ngModel>
          </textarea>
          </div>
          <button class="btn btn-primary" type="submit">
              Add Comment
            </button>
      </form>
      <hr>
      <app-comment-list></app-comment-list>
</div>

