    <app-header></app-header>
    <!--<div class="row">
       <app-leagues-list class=" rounded padding__1 col-md-4"  style="margin-left: -1rem; margin-top: 1rem" >
      </app-leagues-list>
      <div class="col-md-8 padding__1" style="background-color: rgba(99, 99, 99, 0.8); margin-left: -10rem; margin-top: 2rem">
        -->
        <div class="container mt-5 p-5" style="background-color: rgba(99, 99, 99, 0.8);">
            <router-outlet></router-outlet>
        </div>

    <!--  </div>
     </div> -->






