  <h4>Leagues</h4>
  <ul class="list-group">
      <li class="list-group-item text-center font-weight-bold" style="color: darkgreen">Premier league</li>
      <li class="list-group-item text-center font-weight-bold" style="color: darkgreen">Primera division</li>
      <li class="list-group-item text-center font-weight-bold" style="color: darkgreen">Bundesliga</li>
      <li class="list-group-item text-center font-weight-bold" style="color: darkgreen">Seria A</li>
      <li class="list-group-item text-center font-weight-bold" style="color: darkgreen">League 1</li>
    </ul>
